node_modules
temp

build/*compiled.json
build/*config.json
build/*.md
build/*.txt
build/*raw_cells.json
build/lib.*
build/graph*/

.env*
!.env.example
.wget-hsts
bin
.vscode*/
/.idea
.DS_Store
.yarn/
.idea/
contracts_build
yarn.lock
package-lock.json
pnpm-lock.yaml